<% layout('layouts/boilerplate') %>

    <h2>

        Edit <%= camp.name%>

    </h2>

    <form action='/campgrounds/<%=camp._id%>/?_method=put' method="post">

        <label for="name">

            Name of campground: 

        </label>

        <input type="text" placeholder="Enter name" id="name" name="campground[name]" value = "<%=camp.name%>">

        <br>

        <label for="location">

            Location of campground: 

        </label>

        <input type="text" placeholder="Enter location" id="location" name="campground[location]" value = "<%=camp.location%>">

        <br>

        <button>

            Submit

        </button>

    </form>

    <a href='/campgrounds'>

        Cancel

    </a>