<% layout('layouts/boilerplate') %>

    <h1>

        Adding New Campground

    </h1>

    <form action='/campgrounds' method="post">

        <label for="name">

            Name of campground: 

        </label>

        <input type="text" placeholder="Enter name" id="name" name="campground[name]">

        <br>

        <label for="location">

            Location of campground: 

        </label>

        <input type="text" placeholder="Enter location" id="location" name="campground[location]">

        <br>

        <button>

            Submit

        </button>

    </form>

    <a href='/campgrounds'>

        Cancel

    </a>