<% layout('layouts/boilerplate') %>

    <div class="row">

        <h1 class="text-center">New Campground</h1>

        <div class="col-6 offset-3">

            <!-- Adding Form Here -->

            <form action='/campgrounds' method="post">

                <div class="mb-3">

                    <label for="name" class="form-label">
        
                        Name 
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter name" id="name" name="campground[name]">

                </div>

                <div class="mb-3">

                    <label for="location" class="form-label">
        
                        Location
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter location" id="location" name="campground[location]">

                </div>

                <div class="mb-3">

                    <label for="image" class="form-label">
        
                        Image URL
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter image URL" id="image" name="campground[image]">

                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">Rs.</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]">
                    </div>
                </div>

                <div class="mb-3">

                    <label for="description" class="form-label">
        
                        Description
            
                    </label>
            
                    <textarea class="form-control" type="text" placeholder="Enter description" id="description" name="campground[description]"></textarea>

                </div>

                <div class="mb-3">

                    <button class="btn btn-success">
        
                        Submit
            
                    </button>

                </div>
        
            </form>

            <div class="mb-3">

                <a href='/campgrounds'>

                    All Campgrounds
            
                </a>    

            </div>

        </div>

    </div>