<% layout('layouts/boilerplate') %>

    <div class="row">

        <h1 class="text-center">New Campground</h1>

        <div class="col-md-6 offset-md-3">

            <!-- Adding Form Here -->

            <form action='/campgrounds' method="post" class="d-inline validated-form" novalidate enctype="multipart/form-data">

                <div class="mb-3">

                    <label for="name" class="form-label">
        
                        Name 
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter name" id="name" name="campground[name]" required>

                    <div class="valid-feedback">

                        Looks good!
                      
                    </div>

                </div>

                <div class="mb-3">

                    <label for="location" class="form-label">
        
                        Location
            
                    </label>
            
                    <input class="form-control" type="text" placeholder="Enter location" id="location" name="campground[location]" required>

                    <div class="valid-feedback">

                        Looks good!
                      
                    </div>                    

                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Image upload</label>
                    <input class="form-control" type="file" id="formFile" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">

                        <span class="input-group-text" id="price-label">
                            
                            Rs.
                        
                        </span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price" aria-describedby="price-label" name="campground[price]" required>

                        <div class="valid-feedback">

                            Looks good!
                          
                        </div>

                    </div>
                </div>

                <div class="mb-3">

                    <label for="description" class="form-label">
        
                        Description
            
                    </label>
            
                    <textarea class="form-control" type="text" placeholder="Enter description" id="description" name="campground[description]" required></textarea>

                    <div class="valid-feedback">

                        Looks good!
                      
                    </div>

                </div>

                <div class="mb-3">

                    <button class="btn btn-success">
        
                        Submit
            
                    </button>

                </div>
        
            </form>

            <div class="mb-3">  

                <a href='/campgrounds' class="btn btn-info">

                    All Campgrounds
            
                </a>  

            </div>

        </div>

    </div>

    